body {
    padding: 2rem;
    background-color: #eee;
}

.read-more-read-less {
    background-color: white;
    box-shadow: 0 0 1rem black;
    padding: 2rem;
    border-radius: .5rem;
    margin-top: 1rem;
}

.btn{
    background-color: transparent;
    border: none;
    font-weight: 500;
    color: crimson;
    cursor: pointer;
}